.Header_nav {
  width: 100%;
  background-color: #d70018;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
}

.Header__img {
  width: 150px;
}

.Header__search,
.Header__cart,
.Header__login {
  background-color: #d70018;
  color: #f0f8ff;
  display: flex;
  font-size: 15px;
  padding: 10px;
}

.Header__cart {
  cursor: pointer;
  .position-relative {
    margin-right: 8px;
  }
  .cart__content {
    margin-right: 8px;
  }
}

.input_1 {
  padding: 5px 10px 5px 10px;
  width: 250px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.Header__login {
  border: none;
}
